<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="__PUBLIC__/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
<script src="__PUBLIC__/jquery-ui-1.11.4/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="__PUBLIC__/jquery-ui-1.11.4/jquery-ui.css" type="text/css" media="screen" title="no title" />
<link rel="stylesheet" href="__PUBLIC__/jquery-ui-1.11.4/jquery-ui.theme.css" type="text/css" media="screen" title="no title" />
<title>建设中...</title>
</head>
<body>
    <h1>网站建设中... {$username}</h1>
</body>
</html>