<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap-theme.css" type="text/css" />
<!-- <link href="__PUBLIC__/Flat-UI/css/flat-ui.min.css" rel="stylesheet"> -->
<title>演示页面－project</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top"> <!-- navbar-fixed-top -->
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>
          <a class="navbar-brand" href="#">成都智能盒子</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="__CONTROLLER__/index">首页</a></li>
            <li><a href="__CONTROLLER__/listmesg">模型分享</a></li>
            <li><a href="__CONTROLLER__/params">项目分享</a></li>
            <li><a href="__CONTROLLER__/params">经验交流</a></li>
            <li class="active"><a href="__CONTROLLER__/edit">创建分享<span class="sr-only">(current)</span></a></li>
            <li><a href="__CONTROLLER__/params">关于我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="__CONTROLLER__/registeuser">登陆/注册</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    
    
    <div class="container">
        <div class="well">
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型名称
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型标签
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型封面照
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型详细说明
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  上传模型文件
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型授权
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
                  模型售价
              </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <!-- Navbar content -->
        <div class="container">
            <!-- <div class="panel panel-default">
              <div class="panel-body"> -->
                            底部放公司相关链接，具体样式略
              <!-- </div>
            </div> -->
        </div>
    </nav>

<script src="__PUBLIC__/jquery-2.1.4.js" type="text/javascript"></script>
<script src="__PUBLIC__/bootstrap-3.3.5-dist/js/bootstrap.js" type="text/javascript"></script>
<!-- <script src="__PUBLIC__/Flat-UI/js/flat-ui.min.js"></script> -->
<script type="text/javascript">
</script>
</body>
</html>