<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap-theme.css" type="text/css" />
<!-- <link href="__PUBLIC__/Flat-UI/css/flat-ui.min.css" rel="stylesheet"> -->
<title>演示页面</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top"> <!-- navbar-fixed-top -->
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>
          <a class="navbar-brand" href="#">成都智能盒子</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="__CONTROLLER__/index">首页<span class="sr-only">(current)</span></a></li>
            <li><a href="__CONTROLLER__/listmesg">模型分享</a></li>
            <li><a href="__CONTROLLER__/params">项目分享</a></li>
            <li><a href="__CONTROLLER__/params">经验交流</a></li>
            <li><a href="__CONTROLLER__/edit">创建分享</a></li>
            <li><a href="__CONTROLLER__/params">关于我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="__CONTROLLER__/registeuser">登陆/注册</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    

    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active" align="center">
              <a href="__CONTROLLER__/project/p/4"><img src="__PUBLIC__/img/1.jpg" alt="MostFun Pro 实图"></a>
              <div class="carousel-caption">
                <h6><a href="__CONTROLLER__/project/p/4">MostFun Pro 实图</a></h6>
                <p>最新机型，更方便，更高效</p>
              </div>
            </div>
            <div class="item" align="center">
              <img src="__PUBLIC__/img/2.jpg" alt="MostFun Sail 测试机">
              <div class="carousel-caption">
                <h6>MostFun Sail 测试机</h6>
                <p>第一代样机</p>
              </div>
            </div>
            <div class="item" align="center">
              <img src="__PUBLIC__/img/3.jpg" alt="MostFun PLA 耗材">
              <div class="carousel-caption">
                <h6>MostFun PLA 耗材</h6>
                <p>广受欢迎的无毒环保多彩PLA耗材 ¥148</p>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
    
    <div class="container">
        <h6>项目分享</h6>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <a href="__CONTROLLER__/project/p/4"><img src="__PUBLIC__/img/4.jpg" alt="..."></a>
              <div class="caption">
                <h6><a href="__CONTROLLER__/project/p/4">项目名称-4</a></h6>
                <p>发起人：xxx</p>
                <p><a href="__CONTROLLER__/project/p/4" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <img src="__PUBLIC__/img/5.jpg" alt="...">
              <div class="caption">
                <h6>项目名称-5</h6>
                <p>发起人：xxx</p>
                <p><a href="#" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>  
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <img src="__PUBLIC__/img/6.jpg" alt="...">
              <div class="caption">
                <h6>项目名称－6</h6>
                <p>发起人：xxx</p>
                <p><a href="#" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>
            </div>
          </div>
        </div>        
    </div>

    <div class="container">
        <h6>模型分享</h6>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <img src="__PUBLIC__/img/6.jpg" alt="...">
              <div class="caption">
                <h6>模型名称-4</h6>
                <p>创作人：xxx</p>
                <p><a href="#" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <img src="__PUBLIC__/img/4.jpg" alt="...">
              <div class="caption">
                <h6>模型名称-5</h6>
                <p>创作人：xxx</p>
                <p><a href="#" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>  
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-4">
            <div class="thumbnail">
              <img src="__PUBLIC__/img/5.jpg" alt="...">
              <div class="caption">
                <h6>模型名称－6</h6>
                <p>创作人：xxx</p>
                <p><a href="#" class="btn btn-primary btn-xs" role="button">查看</a> <a href="#" class="btn btn-default btn-xs" role="button">分享</a> <a href="#" class="btn btn-default btn-xs" role="button">收藏</a> <a href="#" class="btn btn-default btn-xs" role="button">点赞</a></p>
              </div>
            </div>
          </div>
        </div>        
    </div>


    <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <!-- Navbar content -->
        <div class="container">
            <!-- <div class="panel panel-default">
              <div class="panel-body"> -->
                            底部放公司相关链接，具体样式略
              <!-- </div>
            </div> -->
        </div>
    </nav>

<script src="__PUBLIC__/jquery-2.1.4.js" type="text/javascript"></script>
<script src="__PUBLIC__/bootstrap-3.3.5-dist/js/bootstrap.js" type="text/javascript"></script>
<!-- <script src="__PUBLIC__/Flat-UI/js/flat-ui.min.js"></script> -->
<script type="text/javascript">
</script>
</body>
</html>