<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/bootstrap-3.3.5-dist/css/bootstrap-theme.css" type="text/css" />
<!-- <link href="__PUBLIC__/Flat-UI/css/flat-ui.min.css" rel="stylesheet"> -->
<title>演示页面－project</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top"> <!-- navbar-fixed-top -->
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>
          <a class="navbar-brand" href="#">成都智能盒子</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="__CONTROLLER__/index">首页</a></li>
            <li><a href="__CONTROLLER__/listmesg">模型分享</a></li>
            <li class="active"><a href="__CONTROLLER__/params">项目分享<span class="sr-only">(current)</span></a></li>
            <li><a href="__CONTROLLER__/params">经验交流</a></li>
            <li><a href="__CONTROLLER__/edit">创建分享</a></li>
            <li><a href="__CONTROLLER__/params">关于我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="__CONTROLLER__/registeuser">登陆/注册</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>    
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6"><h6>项目名称-4</h6></div>
            <div class="col-xs-12 col-sm-12 col-md-6">访问次数：11</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="well">
                        <img src="__PUBLIC__/img/7.jpg" width="100%" alt="...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p>
                            3D打印技术已经发展了30年，10年前第一台高清晰彩色3D打印机问世，并先后应用在航天、军事、医学、汽车、电子等工业领域，成功打印出了汽车、飞机、人造肝脏组织、艺术品等工业产品。近年来，3D打印技术逐步从工业领域向生活领域渗透，大多数人对3D打印已不再陌生，随着桌面级3D打印机价格从最初的数万元下降到现在的数千元，这一新技术开始在大众消费市场普及开来，越来越多的普通人能体验到3D打印的乐趣和魅力。未来桌面级3D打印机像普通打印机一样走进寻常百姓家似乎只是时间问题。　科技创客深耕3D打印越新奇、越科技的技术越能使创客型创业者趋之若鹜，而能把产品做到极致的人才能最终脱颖而出，陈吕洲和他的团队就是如此。近日，成都墨之坊CEO陈吕洲接受了投资潮的特约专访，在采访中，陈吕洲向投资潮记者详细介绍了旗下自主研发的桌面级3D打印机“mostfun sail”、“mostfun pro”以及其创业经历。
                        </p>
                        <p>
                            <img src="__PUBLIC__/img/6.jpg" width="100%">
                        </p>
                        <p>
                            其他文字,后续步骤
                        </p>
                        <p>
                            <img src="__PUBLIC__/img/5.jpg" width="100%">
                        </p>
                        <p>
                            结案陈词。
                        </p>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-4">
              <div class="row">
                    <div class="well">
                        <div class="row">
                            <div class="list-group">
                              <button type="button" class="list-group-item">作者介绍</button>
                              <button type="button" class="list-group-item">授权信息</button>
                              <button type="button" class="list-group-item">作者相关项目－A</button>
                              <button type="button" class="list-group-item">作者相关项目－B</button>
                              <button type="button" class="list-group-item">作者相关项目－C</button>
                            </div>                    
                        </div>
        
                        <div class="row">
                            <div class="list-group">
                              <button type="button" class="list-group-item">分享<span class="badge">14</span></button>
                              <button type="button" class="list-group-item">收藏<span class="badge">11</span></button>
                              <button type="button" class="list-group-item">点赞<span class="badge">12</span></button>
                              <button type="button" class="list-group-item">打赏<span class="badge">4</span></button>
                              <button type="button" class="list-group-item">购买<span class="badge">1</span></button>
                            </div>                    
                        </div>
                        <div class="row">
                            <div class="list-group">
                              <button type="button" class="list-group-item">相关项目－A</button>
                              <button type="button" class="list-group-item">相关项目－B</button>
                              <button type="button" class="list-group-item">相关项目－C</button>
                              <button type="button" class="list-group-item">相关项目－D</button>
                              <button type="button" class="list-group-item">相关项目－E</button>
                            </div>                    
                        </div>
                    </div>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="well">
                <input type="text" placeholder="在此发表评论" class="form-control" />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                          <li class="list-group-item">第一个评论</li>
                          <li class="list-group-item">又一个评论</li>
                          <li class="list-group-item">还是评论</li>
                          <li class="list-group-item">最后一个评论了</li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>        
    </div>

    <nav class="navbar navbar-default navbar-static-bottom" role="navigation">
    <!-- Navbar content -->
        <div class="container">
            <!-- <div class="panel panel-default">
              <div class="panel-body"> -->
                            底部放公司相关链接，具体样式略
              <!-- </div>
            </div> -->
        </div>
    </nav>

<script src="__PUBLIC__/jquery-2.1.4.js" type="text/javascript"></script>
<script src="__PUBLIC__/bootstrap-3.3.5-dist/js/bootstrap.js" type="text/javascript"></script>
<!-- <script src="__PUBLIC__/Flat-UI/js/flat-ui.min.js"></script> -->
<script type="text/javascript">
</script>
</body>
</html>